.popup-btn {
    font-family: "Permanent Marker", "cursive";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 3em;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 140px;
    height: 100px;
}

.popup-btn:hover,
.popup-btn:focus {
    opacity: 0.7;
}

div.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
