body {
	height: 100vh;
	margin-top: 10px;
	/* Background gradient from https://uigradients.com/#Winter */
	background: linear-gradient(to left, #274046, #e6dada);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.app-container {
	max-width: 720px;
	font-family: "permanent marker", cursive;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2.8em;
	margin: 0 auto;
}

div.app-container h2 {
	text-align: center;
	font-weight: 400;
}
